@Scripts.Render("~/bundles/MyOrder")
<div class="row">
    <div class="col-md-12">
        <div class="navbar-form navbar-right">
            <a class="btn btn-default" data-bind="click:MyOrder.viewModel.ShowSearch">搜索</a>
        </div>
    </div>
</div>
<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>合同编号</th>
            <th>合同数量</th>
            <th>合同单价</th>
            <th>客户编号</th>
            <th>客户米名称</th>
            <th>料号</th>
            <th>型号</th>
            <th>电压</th>
            <th>容量</th>
            <th>脚距</th>
            <th>等级</th>
            <th>特殊设计</th>
            <th>报价</th>
            <th>提交日期</th>
            <th>备注</th>
            <th>审核环节</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:viewModel.Page.Models">
        <tr>
            <td data-bind="text:Code"></td>
            <td data-bind="text:Qty"></td>
            <td data-bind="text:UnitPrice"></td>
            <td data-bind="text:EnquiryModel.CustomerModel.Code"></td>
            <td data-bind="text:EnquiryModel.CustomerModel.Name"></td>
            <td data-bind="text:EnquiryModel.ProductModel.PartNumber"></td>
            <td data-bind="text:EnquiryModel.ProductModel.ProductType"></td>
            <td data-bind="text:EnquiryModel.ProductModel.Voltage"></td>
            <td data-bind="text:EnquiryModel.ProductModel.Capacity"></td>
            <td data-bind="text:EnquiryModel.ProductModel.Pitch"></td>
            <td data-bind="text:EnquiryModel.ProductModel.Level"></td>
            <td data-bind="text:EnquiryModel.ProductModel.SpecificDesign"></td>
            <td data-bind="text:EnquiryModel.Price"></td>
            <td data-bind="time:CreatedTime"></td>
            <td data-bind="text:Remark"></td>
            <td data-bind="text:State"></td>
            <td>
                <a href="#" data-bind="click:MyOrder.viewModel.Edit,visible:IsApproved()==false && CurrentOrderReview.IsReturn()">编辑</a>
                <a href="#" data-bind="click:MyOrder.viewModel.Reason,visible:IsApproved()==false && CurrentOrderReview.IsReturn()">原因</a>
            </td>
        </tr>
    </tbody>
</table>
<div id="page-selection" class="text-center"></div>
<!--搜索 -->
<div class="modal fade" id="searchdialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">搜索</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">合同编号</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" style="max-width: 200px;" placeholder="合同编号" data-bind="value:MyOrder.viewModel.OrderModel.Code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">料号</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" style="max-width: 200px;" placeholder="料号" data-bind="value:MyOrder.viewModel.OrderModel.EnquiryModel.ProductModel.PartNumber">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">客户编号</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" style="max-width: 200px;" placeholder="客户编号" data-bind="value:MyOrder.viewModel.OrderModel.EnquiryModel.CustomerModel.Code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">客户名称</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" style="max-width: 200px;" placeholder="客户名称" data-bind="value:MyOrder.viewModel.OrderModel.EnquiryModel.CustomerModel.Name">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click:MyOrder.viewModel.Search">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--编辑 -->
<div class="modal fade" id="editdialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">编辑合同</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">客户</label>
                        <div class="col-sm-9">
                            <label class="control-label" data-bind="text:MyOrder.viewModel.OrderModel.EnquiryModel.CustomerModel.Name"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">料号</label>
                        <div class="col-sm-9">
                            <label class="control-label" data-bind="text:MyOrder.viewModel.OrderModel.EnquiryModel.ProductModel.PartNumber"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">单价</label>
                        <div class="col-sm-9">
                            <label class="control-label" data-bind="text:MyOrder.viewModel.OrderModel.EnquiryModel.Price"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">报价</label>
                        <div class="col-sm-9">
                            <input type="number" style="max-width: 200px;" class="form-control" data-bind="value:MyOrder.viewModel.OrderModel.UnitPrice">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">数量</label>
                        <div class="col-sm-9">
                            <input type="number" style="max-width: 200px;" class="form-control" data-bind="value:MyOrder.viewModel.OrderModel.Qty">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">备注</label>
                        <div class="col-sm-9">
                            <textarea rows="3" style="max-width: 200px;" class="form-control" data-bind="value:MyOrder.viewModel.OrderModel.Remark"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">总价</label>
                        <div class="col-sm-9">
                            <label class="control-label" data-bind="text:MyOrder.viewModel.OrderModel.TotalPrice"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click:MyOrder.viewModel.SubmitAudit">提交审核</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click:MyOrder.viewModel.DeleteOrder">删除合同</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>