@Scripts.Render("~/bundles/CustomerCreate")
@*<h2 class="page-header">
        @ViewBag.Title
    </h2>*@
<div class="row">
    <div class="col-md-12">
        <div class="navbar-form navbar-right">
            <a class="btn btn-default" data-bind="click:CustomerCreate.viewModel.ShowSearch">搜索</a>
            <a class="btn btn-default" data-bind="click:CustomerCreate.viewModel.ShowExport">导出</a>
            <a class="btn  btn-primary" data-bind="click:CustomerCreate.viewModel.ShowCreate">新增</a>
        </div>
    </div>
</div>
<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>编号</th>
            <th>名称</th>
            <th>邮件</th>
            <th>联系人</th>
            <th>电话</th>
            <th>类型</th>
            <th>来源</th>
            <th>创建人</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:viewModel.Page.Models">
        <tr>
            <td data-bind="text:Code"></td>
            <td data-bind="text:Name"></td>
            <td data-bind="text:Email"></td>
            <td data-bind="text:ContactPerson"></td>
            <td data-bind="text:TelNumber"></td>
            <td data-bind="text:CustomerTypeStr"></td>
            <td data-bind="text:Origin"></td>
            <td data-bind="text:EmployeeModel.Name"></td>
            <td data-bind="time:UpdateTime"></td>
            <td>
                <a href="#" data-bind="click:CustomerCreate.viewModel.ShowEdit">编辑</a>
                <a href="#" data-bind="click:CustomerCreate.viewModel.Delete">删除</a>
            </td>
        </tr>
    </tbody>
</table>
<div id="page-selection" class="text-center"></div>
<!-- /新增 -->
<div class="modal fade" id="createdialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">新增客户</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" data-bind="value:CustomerCreate.viewModel.CustomerModel.Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">地址</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" data-bind="value:CustomerCreate.viewModel.CustomerModel.Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" data-bind="value:CustomerCreate.viewModel.CustomerModel.Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">联系人</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" data-bind="value:CustomerCreate.viewModel.CustomerModel.ContactPerson">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">电话</label>
                        <div class="col-sm-10">
                            <input type="tel" class="form-control" data-bind="value:CustomerCreate.viewModel.CustomerModel.TelNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">类型</label>
                        <div class="col-sm-10">
                            <select class="form-control" data-bind="value:CustomerCreate.viewModel.CustomerModel.CustomerType">
                                <option>请选择</option>
                                <option value="贸易商">贸易商</option>
                                <option value="工厂">工厂</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">来源</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" data-bind="value:CustomerCreate.viewModel.CustomerModel.Origin">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click:CustomerCreate.viewModel.CreateSave">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!-- /编辑 -->
<div class="modal fade" id="editdialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">编辑</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" data-bind="value:CustomerCreate.viewModel.CustomerModel.Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">地址</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" data-bind="value:CustomerCreate.viewModel.CustomerModel.Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" data-bind="value:CustomerCreate.viewModel.CustomerModel.Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">联系人</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" data-bind="value:CustomerCreate.viewModel.CustomerModel.ContactPerson">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">电话</label>
                        <div class="col-sm-10">
                            <input type="tel" class="form-control" data-bind="value:CustomerCreate.viewModel.CustomerModel.TelNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">类型</label>
                        <div class="col-sm-10">
                            <select class="form-control" data-bind="value:CustomerCreate.viewModel.CustomerModel.CustomerType">
                                <option>请选择</option>
                                <option value="贸易商">贸易商</option>
                                <option value="工厂">工厂</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">来源</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" data-bind="value:CustomerCreate.viewModel.CustomerModel.Origin">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click:CustomerCreate.viewModel.EditSave">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!-- /搜索 -->
<div class="modal fade" id="searchdialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">搜索</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">编号关键字</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" data-bind="value:CustomerCreate.viewModel.CustomerModel.Code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">名称关键字</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" data-bind="value:CustomerCreate.viewModel.CustomerModel.Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">名称关键字</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" data-bind="value:CustomerCreate.viewModel.CustomerModel.Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" data-bind="value:CustomerCreate.viewModel.CustomerModel.Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">名称关键字</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" data-bind="value:CustomerCreate.viewModel.CustomerModel.ContactPerson">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">电话</label>
                        <div class="col-sm-9">
                            <input type="tel" class="form-control" data-bind="value:CustomerCreate.viewModel.CustomerModel.TelNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">类型</label>
                        <div class="col-sm-9">
                            <select class="form-control" data-bind="value:CustomerCreate.viewModel.CustomerModel.CustomerType">
                                <option>请选择</option>
                                <option value="贸易商">贸易商</option>
                                <option value="工厂">工厂</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">名称关键字</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" data-bind="value:CustomerCreate.viewModel.CustomerModel.Origin">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click:CustomerCreate.viewModel.Search">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
