@Scripts.Render("~/bundles/CustomerPosition")
@*<h2 class="page-header">
        @ViewBag.Title
    </h2>*@
<div class="row">
    <div class="col-md-12">
        <div class="navbar-form navbar-right">
            <a class="btn btn-default" data-bind="click:CustomerPosition.viewModel.ShowSearch">搜索</a>
            <a class="btn btn-default" data-bind="click:CustomerPosition.viewModel.ShowExport">导出</a>
        </div>
    </div>
</div>
<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>客户编号</th>
            <th>名称</th>
            <th>地址</th>
            <th>类型</th>
            <th>分配至</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:viewModel.Page.Models">
        <tr>
            <td data-bind="text:Code"></td>
            <td data-bind="text:Name"></td>
            <td data-bind="text:Address"></td>
            <td data-bind="text:CustomerTypeModel.Name"></td>
            <td data-bind="foreach:EmployeeModels">
                <p data-bind="text:Name"></p>
            </td>
            <td>
                <a href="#" data-bind="click:CustomerPosition.viewModel.ShowCreate">分配</a>
            </td>
        </tr>
    </tbody>
</table>
<div id="page-selection" class="text-center"></div>

<!-- /搜索 -->
<div class="modal fade" id="searchdialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">搜索</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">编号关键字</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" data-bind="value:CustomerPosition.viewModel.CustomerModel.Code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">名称关键字</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" data-bind="value:CustomerPosition.viewModel.CustomerModel.Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">名称关键字</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" data-bind="value:CustomerPosition.viewModel.CustomerModel.Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" data-bind="value:CustomerPosition.viewModel.CustomerModel.Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">名称关键字</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" data-bind="value:CustomerPosition.viewModel.CustomerModel.ContactPerson">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">电话</label>
                        <div class="col-sm-9">
                            <input type="tel" class="form-control" data-bind="value:CustomerPosition.viewModel.CustomerModel.TelNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">类型</label>
                        <div class="col-sm-9">
                            <select class="form-control" data-bind="options: CustomerPosition.viewModel.CustomerTypeModels,optionsText: 'Name', optionsCaption: '选择',value:CustomerPosition.viewModel.CustomerModel.CustomerTypeModel"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">名称关键字</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" data-bind="value:CustomerPosition.viewModel.CustomerModel.Origin">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click:CustomerPosition.viewModel.Search">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!-- /新增 -->
<div class="modal fade" id="createdialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" data-bind="text:CustomerPosition.viewModel.SelectedCustomerModel.Name">新增分配</h4>
            </div>
            <div class="modal-body">
               <table class="table table-bordered table-responsive">
                   <thead>
                       <tr>
                           <th>职位</th>
                           <th>姓名</th>
                           <th>手机</th>
                           <th>入职</th>
                           <th>操作</th>
                       </tr>
                   </thead>
                   <tbody data-bind="foreach:CustomerPosition.viewModel.PositionModels">
                       <tr>
                           <td data-bind="text:Name"></td>
                           <td data-bind="text:CurrentEmployeeModel.Name"></td>
                           <td data-bind="text:CurrentEmployeeModel.PhoneNumber"></td>
                           <td data-bind="date:CurrentEmployeeModel.JoinDate"></td>
                           <td>
                               <a href="#" data-bind="click:CustomerPosition.viewModel.AddSave">绑定</a>
                           </td>
                       </tr>
                   </tbody>
               </table>
            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>