@Scripts.Render("~/bundles/SampleRecord")
<div class="row">
    <div class="col-md-12">
        <div class="navbar-form navbar-right">
            <a class="btn btn-default" data-bind="click:SampleRecord.viewModel.ShowSearch">搜索</a>
        </div>
    </div>
</div>
<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>申请编号</th>
            <th>客户</th>
            <th>料号</th>
            <th>数量</th>
            <th>备注</th>
            <th>申请人</th>
            <th>申请时间</th>
            <th>审核环节</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:viewModel.Page.Models">
        <tr>
            <td data-bind="text:Code"></td>
            <td data-bind="text:CustomerModel.Name"></td>
            <td data-bind="text:ProductModel.PartNumber"></td>
            <td data-bind="text:Qty"></td>
            <td data-bind="text:Remark"></td>
            <td data-bind="text:PositionModel.Name"></td>
            <td data-bind="date:UpdateTime"></td>
            <td data-bind="text:State"></td>
        </tr>
    </tbody>
</table>
<div id="page-selection" class="text-center"></div>
<!-- 搜索 -->
<div class="modal fade" id="searchdialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">搜索</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">申请人员</label>
                        <div class="col-sm-6">
                            <select class="form-control" data-bind="options: SampleRecord.viewModel.PostionModels,optionsText: 'Name', optionsCaption: '选择',value:SampleRecord.viewModel.SelectPositionModel"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">客户编号</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" data-bind="value:SampleRecord.viewModel.SearchSampleModel.CustomerCode"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">客户名称</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" data-bind="value:SampleRecord.viewModel.SearchSampleModel.CustomerName"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">料号</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" data-bind="value:SampleRecord.viewModel.SearchSampleModel.PartNumber"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" data-bind="checked:SampleRecord.viewModel.SearchSampleModel.IsApproved"> 是否通过审核
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click:SampleRecord.viewModel.Search">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
