@Scripts.Render("~/bundles/AllOrders")
<div class="row">
    <div class="col-md-12">
        <div class="navbar-form navbar-right">
            <a class="btn btn-default" data-bind="click:AllOrders.viewModel.ShowSearch">搜索</a>
        </div>
    </div>
</div>
<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>合同编号</th>
            <th>合同数量</th>
            <th>合同单价</th>
            <th>合同日期</th>
            <th>合同账期</th>
            <th>预计交货日期</th>
            @*<th>客户编号</th>*@
            <th>客户米名称</th>
            <th>料号</th>
            @*<th>型号</th>
                <th>电压</th>
                <th>容量</th>
                <th>脚距</th>
                <th>等级</th>
                <th>特殊设计</th>*@
            <th>报价</th>
            <th>提交人</th>
            <th>提交日期</th>
            <th>审核环节</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:viewModel.Page.Models">
        <tr>
            <td>
                <a href="#" data-bind="text:Code,click:AllOrders.ShowOrderDetail"></a>
            </td>
            <td data-bind="text:Qty"></td>
            <td data-bind="text:UnitPrice"></td>
            <td data-bind="date:OrderDate"></td>
            <td data-bind="text:PayPeriodModel.Name"></td>
            <td data-bind="text:EstimatedDeliveryDate"></td>
            @*<td data-bind="text:EnquiryModel.CustomerModel.Code"></td>*@
            <td data-bind="text:EnquiryModel.CustomerModel.Name"></td>
            <td data-bind="text:EnquiryModel.ProductModel.PartNumber"></td>
            @*<td data-bind="text:EnquiryModel.ProductModel.ProductType"></td>
                <td data-bind="text:EnquiryModel.ProductModel.Voltage"></td>
                <td data-bind="text:EnquiryModel.ProductModel.Capacity"></td>
                <td data-bind="text:EnquiryModel.ProductModel.Pitch"></td>
                <td data-bind="text:EnquiryModel.ProductModel.Level"></td>
                <td data-bind="text:EnquiryModel.ProductModel.SpecificDesign"></td>*@
            <td data-bind="text:EnquiryModel.Price"></td>
            <td data-bind="text:EnquiryModel.PositionModel.CurrentEmployeeModel.Name"></td>
            <td data-bind="time:CreatedTime"></td>
            <td data-bind="text:State"></td>
        </tr>
    </tbody>
</table>
<div id="page-selection" class="text-center"></div>
<!--搜索 -->
<div class="modal fade" id="searchdialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">搜索</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">合同编号</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" style="max-width: 200px;" placeholder="合同编号" data-bind="value:AllOrders.viewModel.OrderModel.Code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">料号</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" style="max-width: 200px;" placeholder="料号" data-bind="value:AllOrders.viewModel.OrderModel.EnquiryModel.ProductModel.PartNumber">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">客户编号</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" style="max-width: 200px;" placeholder="客户编号" data-bind="value:AllOrders.viewModel.OrderModel.EnquiryModel.CustomerModel.Code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">客户名称</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" style="max-width: 200px;" placeholder="客户名称" data-bind="value:AllOrders.viewModel.OrderModel.EnquiryModel.CustomerModel.Name">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click:AllOrders.viewModel.Search">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--订单详细 -->
<div class="modal fade" id="detaildialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">订单详细</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>客户编号</dt>
                    <dd data-bind="text:AllOrders.viewModel.OrderModel.EnquiryModel.CustomerModel.Code"></dd>
                    <dt>客户名称</dt>
                    <dd data-bind="text:AllOrders.viewModel.OrderModel.EnquiryModel.CustomerModel.Name"></dd>
                    <dt>合同数量</dt>
                    <dd data-bind="text:AllOrders.viewModel.OrderModel.Qty"></dd>
                    <dt>合同单价</dt>
                    <dd data-bind="text:AllOrders.viewModel.OrderModel.UnitPrice"></dd>
                    <dt>合同金额</dt>
                    <dd data-bind="text:AllOrders.viewModel.OrderModel.TotalPrice"></dd>
                    <dt>合同日期</dt>
                    <dd data-bind="date:AllOrders.viewModel.OrderModel.OrderDate"></dd>
                    <dt>预计交货日期</dt>
                    <dd data-bind="text:AllOrders.viewModel.OrderModel.EstimatedDeliveryDate"></dd>
                    <dt>料号</dt>
                    <dd data-bind="text:AllOrders.viewModel.OrderModel.EnquiryModel.ProductModel.PartNumber"></dd>
                    <dt>类型</dt>
                    <dd data-bind="text:AllOrders.viewModel.OrderModel.EnquiryModel.ProductModel.ProductType"></dd>
                    <dt>电压</dt>
                    <dd data-bind="text:AllOrders.viewModel.OrderModel.EnquiryModel.ProductModel.Voltage"></dd>
                    <dt>容量</dt>
                    <dd data-bind="text:AllOrders.viewModel.OrderModel.EnquiryModel.ProductModel.Capacity"></dd>
                    <dt>脚距</dt>
                    <dd data-bind="text:AllOrders.viewModel.OrderModel.EnquiryModel.ProductModel.Pitch"></dd>
                    <dt>等级</dt>
                    <dd data-bind="text:AllOrders.viewModel.OrderModel.EnquiryModel.ProductModel.Level"></dd>
                    <dt>特殊</dt>
                    <dd data-bind="text:AllOrders.viewModel.OrderModel.EnquiryModel.ProductModel.SpecificDesign"></dd>
                    <dt>合同备注</dt>
                    <dd data-bind="text:AllOrders.viewModel.OrderModel.Remark"></dd>
                </dl>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>