@Scripts.Render("~/bundles/OrderReview")
<div class="row">
    <div class="col-md-12">
        <div class="navbar-form navbar-right">
            <a class="btn btn-default" data-bind="click:OrderReview.viewModel.ShowSearch">搜索</a>
        </div>
    </div>
</div>
<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>合同编号</th>
            <th>合同金额</th>
            <th>合同日期</th>
            <th>客户编号</th>
            <th>客户名称</th>
            <th>提交人</th>
            <th>提交日期</th>
            <th>审核环节</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:viewModel.Page.Models">
        <tr>
            <td>
                <a href="#"  data-bind="text:Code,click:OrderReview.ShowOrderDetail"></a>
            </td>
            <td data-bind="text:ContractAmount"></td>
            <td data-bind="date:OrderDate"></td>
            <td data-bind="text:CustomerModel.Code"></td>
            <td data-bind="text:CustomerModel.Name"></td>
            
            <td data-bind="text:PositionModel.CurrentEmployeeModel.Name"></td>
            <td data-bind="time:CreatedTime"></td>
            <td data-bind="text:State"></td>
            <td>
                <a href="#" data-bind="click:OrderReview.viewModel.Approve">通过</a>
                <a href="#" data-bind="click:OrderReview.viewModel.Return">退回</a>
            </td>
        </tr>
    </tbody>
</table>
<div id="page-selection" class="text-center"></div>
<!--搜索 -->
<div class="modal fade" id="searchdialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">搜索</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">合同编号</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" style="max-width: 200px;" placeholder="合同编号" data-bind="value:OrderReview.viewModel.OrderModel.Code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">客户编号</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" style="max-width: 200px;" placeholder="客户编号" data-bind="value:OrderReview.viewModel.OrderModel.CustomerModel.Code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">客户名称</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" style="max-width: 200px;" placeholder="客户名称" data-bind="value:OrderReview.viewModel.OrderModel.CustomerModel.Name">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click:OrderReview.viewModel.Search">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--订单详细 -->
<div class="modal fade" id="detaildialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">合同详细</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>料号</th>
                            <th>单价</th>
                            <th>数量</th>
                            <th>金额</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:OrderReview.viewModel.OrderModel.OrderDetailModels">
                        <tr>
                            <td data-bind="text:EnquiryModel.ProductModel.PartNumber"></td>
                            <td data-bind="text:UnitPrice"></td>
                            <td data-bind="text:Qty"></td>
                            <td data-bind="text:TotalPrice"></td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!--退回 -->
<div class="modal fade" id="returndialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">退回合同</h4>
            </div>
            <div class="modal-body">
                <textarea class="form-control" rows="3" placeholder="留言" data-bind="value:OrderReview.viewModel.OrderModel.CurrentOrderReview.ReturnComments"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click:OrderReview.viewModel.ReturnSave">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>